*{
    box-sizing:border-box;
    margin: 0px;
}
div{
    display: block;
}
.container{
    width:1200px;
    margin: auto;
    
}

header{
    box-shadow: 0px 0px 10px 0 rgb(0 0 0 / 20%);
    
}

.notice {
    text-align: center;
    padding: 20px 0px;
    letter-spacing: 4px;
    background: #037fcf;
    color: #fff;
    font-size: 20px;
}


ul {
    margin: 0px;
    padding: 20px 0px;
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
}

.menu a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #037fcf;
    padding: 10px 30px;
    transition: border .3s ease-in-out;
   
   
}

.menu a:hover{
    border-bottom:1px #037fcf solid;
    
}
.banner {
    width: 1200px;
    margin: auto;
}

.banner img {
    width: inherit;
    max-width: 100%;
}
.banner-section{
    padding: 10px 0px;
}

.section-heading h1{
    font-size: 40px;
    text-align: center;
    padding: 80px 0px;
    color: #2A2A2A;
}
section.product-gellary {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.product {
    flex-basis: 30%;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 5px 0 rgb(0 0 0 / 20%);
    margin: 20px;
}

.product img {
    width: inherit;
    max-width: 100%;
    height: auto;
}
.product h1 {
    font-size: 20px;
    text-align: center;
    padding: 20px 0px;
    color: #2a2a2a;
}
.product span {
    font-size: 15px;
    /* text-align: center; */
    text-decoration: line-through red 2px;
    color: #666;
}

.product h6 {
    text-align: center;
    font-size: 22px;
    color: #0db14b;
}